-- Put in the appropriate info and save this file!

{
    sql_user: "root"
    sql_password: "SOMETHING"
    session_secret: "SOMETHING"
    slack_tokens: "SOMETHING"
    slack_hook: "SOMETHING" -- this is a URL for sending errors to a specific channel
    error_channel: "#slackiver"
    bot_name: "The Slackiver"
    ssl_cert: "/etc/letsencrypt/live/badnetwork.xyz/fullchain.pem"
    ssl_key: "/etc/letsencrypt/live/badnetwork.xyz/privkey.pem"
}
