-- Put in the appropriate info and save this file!

{
    sql_user: "root"
    sql_password: "SOMETHING"
    session_secret: "SOMETHING"
    slack_token: "SOMETHING"
    error_channel: "#nerd-alert"
    bot_name: "The Slackiver"
}
