-- Put in the appropriate info and save this file!

{
    -- MySQL server info
    sql_user: "root"
    sql_password: "SOMETHING"

    session_secret: "SOMETHING" -- just needs to be random, and kept secret
    slack_tokens: "SOMETHING"   -- accept hooks from these tokens
    slack_hook: "SOMETHING"     -- hook URL for sending errors or debug information
    error_channel: "#slackiver" -- what channel to send errors/debug info to
    bot_name: "The Slackiver"   -- name of bot delivering errors/debug info

    -- location of certificate and key
    ssl_cert: "/etc/letsencrypt/live/badnetwork.xyz/fullchain.pem"
    ssl_key: "/etc/letsencrypt/live/badnetwork.xyz/privkey.pem"
}
